<html ng-app="PixArtApp">

<head>
    <title>PixArt App</title>

    <link rel="stylesheet" href="css/app.css">
    <script src="js/plugins/jquery-3.5.0.min.js"></script>
    <script src="js/plugins/rgbquant.js"></script>

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,700'>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.9/angular-material.min.css">


    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular-messages.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.10/angular-material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.2/lodash.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- <script src="http://netbeast.github.io/colorsys/browser.js"></script>
     -->
     <script src="js/plugins/colorconverter.js"></script>
    <script src="js/plugins/mediancut.js"></script>


    <script src="js/plugins/ng-file-upload-all.min.js"></script>
    <script src="js/plugins/FileSaver.min.js"></script>
    <script src="js/plugins/k-means-bundle.js"></script>



    <!-- <script src="js/plugins/palettemaker/image-util.js"></script>
    <script src="js/plugins/palettemaker/kmeans-plotter.js"></script>
    <script src="js/plugins/palettemaker/kmeans-runner.js"></script>
    <script src="js/plugins/palettemaker/palette-table-writer.js"></script>  -->

</head>

<body ng-controller="mainController" layout="column" ng-cloak>
    <div class="loader">
        <div id="loaderText">
            Loading...
        </div>
    </div>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 class="md-flex" flex>Animal Crossing Pixel Art</h2>
            <md-button ng-click="download()" class="md-raised md-primary md-hue-2">Download</md-button>
            <label class="md-button md-raised md-warn md-hue-2">
                <input class="ng-hide" ngf-select ng-model="controls.jsonFile" name="attachement"
                    accept="application/JSON" ngf-change=load($event) type="file" />
                Load File
            </label>
            <div></div>
        </div>
    </md-toolbar>
    <md-content pixeling="originalImage" flex layout-padding>
        <div class="viewer" layout="column" flex>
            <div class="viewer-header" layout="row" layout-padding flex>
                <div flex="40" layout="column">
                    <md-toolbar class="md-warn">
                        <div class="md-toolbar-tools">
                            <h2 flex md-truncate>Original Image</h2>
                            <label class="md-button md-raised md-warn md-hue-2">
                                <input class="ng-hide" ngf-select ng-model="picFile" name="attachement"
                                    accept="image/jpeg, image/jpg" type="file" />
                                Choose file
                            </label>
                            <div></div>
                        </div>
                    </md-toolbar>
                </div>
                <div flex="40" layout="column">
                    <md-toolbar class="md-hue-2">
                        <div class="md-toolbar-tools">
                            <h2 flex md-truncate>Result Image</h2>
                            <md-button ng-disabled="!picFile" ng-click="updatePixels()" class="md-raised md-primary">
                                Update</md-button>
                            <div></div>
                        </div>
                    </md-toolbar>
                </div>
                <div flex="20">
                    <md-toolbar class="">
                        <div class="md-toolbar-tools">
                            <h2 flex md-truncate>Options</h2>
                        </div>
                    </md-toolbar>
                </div>
            </div>
            <div class="viewer-body" layout="row" flex>
                <div class="original-image panel" flex="40" layout="column" layout-padding>
                    <md-slider-container>
                        <span style="white-space: nowrap;" flex="auto">Pixel size</span>
                        <md-slider min="2" max="{{controls.maxPixelSize}}" ng-change="controls.onChangePixelSize()"
                            ng-model="controls.pixelSize"></md-slider>
                        <md-input-container>
                            <input readonly ng-model="controls.pixelSize">
                        </md-input-container>
                    </md-slider-container>
                    <div class="panel-body">
                        <img ngf-src="picFile" id="originalImage" style="display: none">
                        <canvas width="300" height="300" ng-style="originalStyle" id="originalImageCanvas"></canvas>

                    </div>
                </div>
                <div class="pixel-image panel" flex="40" layout="column" layout-padding>
                    <md-slider-container>
                        <span>Colors</span>
                        <md-slider min="2" max="15" ng-model="controls.colors"></md-slider>
                        <md-input-container>
                            <input readonly type="number" ng-model="controls.colors">
                        </md-input-container>
                    </md-slider-container>
                    <div>
                        <canvas width="300" height="300" id="pixelArt"></canvas>
                    </div>
                </div>
                <div flex="20" layout="column" layout-padding class="options">
                    <h2 class="md-toolbar-tools">Color selecion by:</h2>
                    <md-radio-group ng-model="controls.colorSelection">
                        <md-radio-button value="0">Histogram</md-radio-button>
                        <md-radio-button value="4">Median cut</md-radio-button>
                        <md-subheader class="md-no-sticky">Clostering</md-subheader>
                        <md-radio-button value="1">Average color</md-radio-button>
                        <md-radio-button value="2">Median color</md-radio-button>
                        <md-radio-button value="3">Mode color</md-radio-button>
                    </md-radio-group>
                    <md-divider></md-divider>
                    <h2 class="md-toolbar-tools">Background</h2>
                    <md-input-container>
                        <label>#RGB color</label>
                        <input ng-model="controls.background" ng-change="controls.onChangeBgColor()">
                      </md-input-container>
                </div>
            </div>
        </div>

        <div flex>
            <md-progress-linear md-mode="determinate" value="{{pixelData.process}}"></md-progress-linear>
        </div>

        <div class="color-panel" layout="column" flex>
            <div class="palette">
                <div ng-repeat="itemP in palette" >
                    <span>
                        {{$index+1}}
                    </span>

                    <div class="color-bar"
                        style="background: rgb({{itemP.rgb[0]}}, {{itemP.rgb[1]}}, {{itemP.rgb[2]}})">
                    </div>
                    <div class="color-position" ng-hide="itemP.used == 0">
                        <div>
                            <span>A</span>
                            <span> {{itemP.position[0]+1}}</span>
                        </div>
                        <div>
                            <span>B</span>
                            <span> {{itemP.position[1]+1}}</span>
                        </div>
                        <div>
                            <span>C</span>
                            <span> {{itemP.position[2]+1}}</span>
                        </div>
                    </div>
                    <div ng-show="itemP.used == 0" class="empty-color">

                    </div>
                    <!-- <div>
                        Used {{itemP.used}} times
                    </div> -->

                </div>
            </div>
        </div>

        <!-- <div id="kmeans-plot"   flex style="height: 600px;"></div> -->


        <div ng-if="palette" class="color-map" ng-class="{'no-colors':!controls.showColors}" flex>

            <div class="controls" layout="row" flex layout-padding>
                <md-switch ng-model="controls.showColors" flex="20">
                    <span>Show colors</span>
                </md-switch>
                <md-switch ng-model="controls.showGuides" flex="20">
                    <span>Show guides</span>
                </md-switch>
                <div layout flex>

                    <div flex="10" layout layout-align="center center">
                        <span class="md-body-1">Guides each</span>
                    </div>
                    <md-slider ng-disabled="!controls.showGuides" flex md-discrete ng-model="controls.guide" step="2"
                        min="4" max="16"></md-slider>
                </div>
            </div>
            <div flex class="map-result">
                <div ng-repeat="row in bitMap track by $index" class="color-row"
                    ng-class="{'guide-top': controls.isGuide($index)}">
                    <div ng-repeat="color in row track by $index" class="color-cell"
                        ng-class="{'guide-left': controls.isGuide($index)}" style="background: {{palette[color].hex}}">
                        {{color+1}}
                    </div>
                </div>
            </div>

        </div>

    </md-content>


    <script src="js/app.js"></script>
    <script src="js/services/medianCutService.js"></script>
    <script src="js/services/histogramQService.js"></script>
    <script src="js/services/kMeansService.js"></script>

    <script src="js/services/utilsService.js"></script>

</body>

</html>